<div class="row about-row">
	<div class="col-md-3 about-column-header">
		<h1>About</h1>
  </div>
  <div class="col-md-7 side-header">
		<p>Looking for a scholarship? Complete our survey and meet with Millie Reidy in the library to discuss your opportunities. Take a look at a map of where some of your classmates have gone with their scholarships.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 about-column-map">
		<iframe width='100%' 
				height='500px' 
				frameBorder='0' 
				src='https://a.tiles.mapbox.com/v3/jackreidy.gle94jmh/mm/zoompan,zoomwheel.html?secure=1#4/38.79/-97.73'>
		</iframe>
  </div>
</div>
<div class="row about-row">
  <div class="col-md-10 bottom-section">
  	<p> Ready to complete the compatability quiz? </p>
  </div>
  <div class="col-md-2 bottom-section">
  	<button type="button" class="btn btn-default btn-lg">I'm ready!</button>
  </div>
</div>